%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title LeoCenter

    %link{ :rel => "stylesheet", :href => "js/ext/resources/css/ext-all.css", :type => "text/css"}
    %link{ :rel => "stylesheet", :href => "css/leofs_console.css", :type => "text/css"}

    %script{:src => "js/ext/bootstrap.js", :type => "text/javascript"}
    %script{:src => "js/leo_center.js",             :type => "text/javascript"}
    %script{:src => "js/util.js",                   :type => "text/javascript"}
    %script{:src => "js/base_pane.js",              :type => "text/javascript"}
    %script{:src => "js/bucket_status_view.js",     :type => "text/javascript"}
    %script{:src => "js/node_status_view.js",       :type => "text/javascript"}
    %script{:src => "js/system_conf_sub_view.js",   :type => "text/javascript"}
    %script{:src => "js/user_sub_view.js",          :type => "text/javascript"}
    %script{:src => "js/bucket_sub_view.js",        :type => "text/javascript"}
    %script{:src => "js/endpoint_sub_view.js",      :type => "text/javascript"}
    %script{:src => "js/assigned_file_sub_view.js", :type => "text/javascript"}
    %script{:src => "js/admin_view.js",             :type => "text/javascript"}

  %body
