!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title LeoTamer
    %link{ :rel => "stylesheet", :href => "js/ext/resources/css/ext-all.css", :type => "text/css"}
    %script{:src => "js/ext/bootstrap.js", :type => "text/javascript"}
    // %script{:src => "js/highcharts/highcharts.js", :type => "text/javascript"}
    %script{:src => "js/util.js", :type => "text/javascript"}
    %script{:src => "js/nodes.js", :type => "text/javascript"}
    %script{:src => "js/buckets.js", :type => "text/javascript"}
    %script{:src => "js/endpoints.js", :type => "text/javascript"}
    %script{:src => "js/users.js", :type => "text/javascript"}
    %script{:src => "js/admin.js", :type => "text/javascript"}
    %script{:src => "js/index.js", :type => "text/javascript"}
    :css
      img.status {
        vertical-align: middle;
      }

      #admin_grid .x-grid-row td {
        height: 20px;
        padding: 5px;
      }

      .x-grid-row-summary {
        background-color: #efefef;
      }

      tr img {
        vertical-align: middle;
      }
  %body
