%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title LeoCenter - login
    %link{ :rel => "stylesheet", :href => "js/ext/resources/css/ext-all.css", :type => "text/css"}
    %script{:src => "js/ext/bootstrap.js", :type => "text/javascript"}
    %script{:src => "js/util.js", :type => "text/javascript"}
    %script{:src => "js/login.js", :type => "text/javascript"}
    :css
      #ext-gen1018 {
        background-color: #5682AD !important;
      }
      #login-body .x-box-inner {
        background-color: white !important;
      }

      #login .x-form-item-label-left {
        font-size: 18px;
      }

      #link_to_sign_up .x-panel-body {
        text-align: center;
        padding: 10px !important;
      }
  %body
